<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link">
                    <i class="fas fa-list-alt nav-icon"></i>
                    <p>
                        Справочники
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ path('outlet_list') }}" class="nav-link {{ 'outlet_' in app.request.get('_route') ? 'active' : '' }}">
                            <i class="fas fa-store nav-icon"></i>
                            <p>Магазины</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('commercial_network_list') }}" class="nav-link {{ 'commercial_network_' in app.request.get('_route') ? 'active' : '' }}">
                            <i class="fas fa-project-diagram nav-icon"></i>
                            <p>Торговые сети</p>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->