{% extends 'layouts/base.html.twig' %}

{% trans_default_domain 'commercial_network' %}

{% block title %}Торговые сети{% endblock %}

{% block body %}
    {% include 'components/_pagination.html.twig' with pagination.pageInfo.toArray only %}

    <table class="table table-hover table-valign-middle">

        <thead>
            <tr>
                <th class="actions-column">&nbsp;</th>
                <th>#</th>
                <th>{{ 'Title' | trans }}</th>
            </tr>
        </thead>

        <tbody>
            {% for entity in pagination.entities %}
                <tr>
                    <td>
                        <a href="{{ path('commercial_network_edit', {id: entity.id}) }}" class="hoverable-button">
                            <i class="fas fa-pen"></i>
                        </a>
                    </td>
                    <td>
                        {{ (pagination.pageInfo.currentPage - 1) * loop.length + loop.index }}
                    </td>
                    <td>
                        {{ entity.title }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    {% include 'components/_pagination.html.twig' with pagination.pageInfo.toArray only %}
{% endblock %}
