{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>#{{ status_code }}</h1>

    <p>
        The requested page couldn't be loaded.
        Try again or <a href="{{ path('home') }}">return to the main page</a>.
    </p>
{% endblock %}
